In [1]:
import pandas as pd

/Users/juliasbardelatti/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df_2014 = pd.read_csv("./desmatamento_mun_2014.csv", sep=";")
df_2014.columns = ['nome_municipio', 'area_desmatada', 'codigo_municipio', 'uf']

df_2015 = pd.read_csv("./desmatamento_mun_2015.csv", sep=";")
df_2015.columns = ['nome_municipio', 'area_desmatada', 'codigo_municipio', 'uf']

df_2016 = pd.read_csv("./desmatamento_mun_2016.csv", sep=";")
df_2016.columns = ['nome_municipio', 'area_desmatada', 'codigo_municipio', 'uf']

df_2016 = pd.read_csv("./desmatamento_mun_2016.csv", sep=";")
df_2016.columns = ['nome_municipio', 'area_desmatada', 'codigo_municipio', 'uf']

df_2017 = pd.read_csv("./desmatamento_mun_2017.csv", sep=";")
df_2017.columns = ['nome_municipio', 'area_desmatada', 'codigo_municipio', 'uf']

df_2018 = pd.read_csv("./desmatamento_mun_2018.csv", sep=";")
df_2018.columns = ['nome_municipio', 'area_desmatada', 'codigo_municipio', 'uf']

df_2019 = pd.read_csv("./desmatamento_mun_2019.csv", sep=";")
df_2019.columns = ['nome_municipio', 'area_desmatada', 'codigo_municipio', 'uf']

df_2020 = pd.read_csv("./desmatamento_mun_2020.csv", sep=";")
df_2020.columns = ['nome_municipio', 'area_desmatada', 'codigo_municipio', 'uf']

df_2021 = pd.read_csv("./desmatamento_mun_2021.csv", sep=";")
df_2021.columns = ['nome_municipio', 'area_desmatada', 'codigo_municipio', 'uf']

df_2022 = pd.read_csv("./desmatamento_mun_2022.csv", sep=";")
df_2022.columns = ['nome_municipio', 'area_desmatada', 'codigo_municipio', 'uf']

df_2023 = pd.read_csv("./desmatamento_mun_2023.csv", sep=";")
df_2023.columns = ['nome_municipio', 'area_desmatada', 'codigo_municipio', 'uf']

In [3]:
df_2014['ano'] = 2014
df_2015['ano'] = 2015
df_2016['ano'] = 2016
df_2017['ano'] = 2017
df_2018['ano'] = 2018
df_2019['ano'] = 2019
df_2020['ano'] = 2020
df_2021['ano'] = 2021
df_2022['ano'] = 2022
df_2023['ano'] = 2023

In [4]:
df_all = pd.concat([df_2014, df_2015, df_2016,df_2017, df_2018, df_2019,df_2020, df_2021, df_2022, df_2023], ignore_index=True)

In [5]:
df_all['area_desmatada'] = (
    df_all['area_desmatada']
    .str.replace('.', '', regex=False)
    .str.replace(',', '.', regex=False)
    .astype(float)
)

In [6]:
df_all.query('nome_municipio == "Lábrea"').sort_values(['codigo_municipio', 'ano'])

     nome_municipio  area_desmatada  codigo_municipio        uf   ano
727          Lábrea          132.54           1302405  Amazonas  2014
1500         Lábrea          236.80           1302405  Amazonas  2015
2273         Lábrea          310.24           1302405  Amazonas  2016
3046         Lábrea          276.87           1302405  Amazonas  2017
3819         Lábrea          315.52           1302405  Amazonas  2018
4592         Lábrea          381.76           1302405  Amazonas  2019
5365         Lábrea          382.87           1302405  Amazonas  2020
6138         Lábrea          540.23           1302405  Amazonas  2021
6911         Lábrea          699.59           1302405  Amazonas  2022
7684         Lábrea          206.75           1302405  Amazonas  2023

In [7]:
df_all.to_csv("./base_desmatamento_por_municipio_e_ano.csv")